li a {
  
    
 color:black;
    
   
  


    
}



h3{
   text-align: left;
   font-size: 25px;
   font-color:black;

 }
h1{

	font-size: 15px;
	font-color:green;
	
}
h2{
	font-size: 15px;
	font-color: indigo;
}

label{
	font-size: 20px;
	color: orange;
	background-color: black; 
}

input{

	color:red;
}

button{
	text-align: center;
	color:red;
}

body{
	text-align:center;
	
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #a94442;

   
  
}


form{
	color:blue;
	display:inline-block; 
	border:5px solid black;
	position: relative;
	max-width: 500px;
    margin:  auto 600px;
    padding: 45px;
    text-align: left; bottom:-40px;
    background: purple;
    background-color: grey
}





